@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/*
Input field styles
*/

select {
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  width: 80vw;
  height: 9vw;
  border-radius: 7px;
  border: none;
}

.input-field {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.input-label {
  padding: 0rem 0rem 0rem 0.1rem;
}

.input-error-message {
  color: red;
}
