@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.loading-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  border: 16px solid #f7debe; /* Light grey */
  border-top: 16px solid #272741; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.view-container {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  /*font-size: 12px;*/
  font-size: 10px;
  margin: 1px;
  padding: 8px 6px 8px 30px;
}

.page-title {
  /*font-size: inherit;*/
  font-size: 25px;
  margin-bottom: 2.1em;
}

.header-box {
  font-weight: 400;
  margin-top: 1.25em;
  margin-bottom: 4.25em;
  padding-left: 1em;
  height: 50px;
  line-height: 50px;
  width: 86%;
  border-radius: 6px;
  background: #272741;
  color: #ffff;
}

@media all and (min-width: 992px) {
  /*
  .view-container {
    font-size: 16px;
  }
  */

  .header-box {
    height: 53px;
    line-height: 53px;
  }
}

@media all and (min-width: 1200px) {
  .view-container {
    /*font-size: 24px;*/
    font-size: 10px;
    margin-left: 5.5%;
    max-width: 1125px;
  }

  .header-box {
    width: 87%;
    /*
    height: 63px;
    line-height: 63px;
    */
  }
}

@media all and (min-width: 1468) {
  .header-box {
    width: 60%;
    /*
    height: 63px;
    line-height: 63px;
    */
  }
}

@media all and (min-width: 1900px) {
  .view-container {
    font-size: 10px;
    margin-left: 10.5%;
  }
}
