@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.view-container {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 12px;
  margin: 1px;
  padding: 8px 8px 8px 8px;
}

.error-message {
  font-weight: 300;
  padding-left: 1.5em;
  margin-bottom: 2em;
  color: red;
}

.Modal {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 37vh;
  left: 15vw;
  width: 60vw;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 5px 2ch 20px 2ch;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.input-label {
  font-weight: bold;
  padding-left: 0em;
}

.input-label:hover {
  color: #272741;
}

.submit-button {
  font-size: 1.5em;
  font-weight: bold;
  width: 60%;
  height: 52px;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #b6ecb1;
  color: #53973e;
}

.submit-button:hover {
  background: #53c149;
  color: #ffffff;
}

.confirm-button {
  font-size: 0.9em;
  font-weight: bold;
  width: 13ch;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #b6ecb1;
  color: #53973e;
}

.confirm-button:hover {
  background: #53c149;
  color: #ffffff;
}

.error-button {
  font-size: 0.9em;
  font-weight: bold;
  width: 13ch;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #e2b3bc;
  color: #791024;
}

.error-button:hover {
  background: #c52441;
  color: #ffffff;
}

.input,
.select {
  height: 2em;
  width: 80%;
  margin-top: 0.7em;
  margin-bottom: 1.2em;
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.input:hover,
.select:hover {
  border: 1px solid #272741;
}

.form-banner {
  width: 40%;
  height: 44px;
  line-height: 44px;
  padding-left: 1ch;
  margin-left: 1ch;
  margin-bottom: 2.5em;
  font-weight: bold;
  color: white;
  background: #272741;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.col-wrap select {
  text-overflow: ellipsis;
}

.col-wrap {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.col2 {
  margin-left: 1ch;
  flex: 50%;
}

@media all and (min-width: 992px) {
  .view-container {
    font-size: 16px;
    padding-left: 30px;
  }
  .input,
  .select {
    width: 70%;
  }
  .form-banner {
    width: 35%;
  }
}

@media all and (min-width: 1200px) {
  .input,
  .select {
    width: 472px;
  }
  .form-banner {
    width: 490px;
  }
  .submit-button {
    width: 40%;
  }
}
