@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.container {
  font-family: "Roboto", sans-serif;
  background-color: #f5f4f4;
  padding: 1em 1ch 6em 1ch;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  border: 16px solid #f7debe; /* Light grey */
  border-top: 16px solid #272741; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
