@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

input {
  width: 94%;
  height: 3em;
  margin-left: 1ch;
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  margin-right: 1ch;
  border-radius: 6px;
  border: burlywood;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #154c79;
}

input:focus {
  border: 2px solid #154c79;
  background-color: #fffdfa;
  outline: none;
}

.input-label {
  font-size: 1.1em;
  color: #161422;
  margin-top: 1ch;
  margin-left: 1ch;
}

.input-label:hover {
  color: #154c79;
}

.error-message {
  margin-left: 1ch;
  margin-bottom: 1em;
  font-size: 0.7em;
  color: red;
}
