@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

input {
  width: 30ch;
  height: 1.5em;
  margin: 1ch;
  border-radius: 6px;
  border: burlywood;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.input-label {
  color: #1e81b0;
  margin: 1ch;
}

.input-label:hover {
  color: #154c79;
}

.error-message {
  padding: 0 7px 10px 7px;
  font-size: 0.8em;
  color: red;
}
