@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.input-field {
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.input-label {
  padding: 0rem 0rem 0rem 0.1rem;
}

.input-error-message {
  color: red;
}

.doc-thumbnail {
  width: 60px;
  height: 80px;
}
