@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.update-button {
  font-weight: bold;
  border: none;
  background: none;
  color: #ed9521;
}

.update-button:hover {
  border-bottom: 1px solid;
}
