@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.update-button {
  font-family: inherit;
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 8px;
  border: 1px solid #ec8e12;
  background-color: #ecd5b7;
  color: #ec8e12;
  font-weight: 900;
}

.update-button:hover {
  border: 1px solid #ec8e12;
  background-color: #ed9521;
  color: white;
  font-weight: 900;
}
