@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.file {
  position: absolute;

  bottom: 50%;
  left: 10%;
  filter: alpha(opacity=0);
  opacity: 0;
}

.h3 {
  margin-top: 1em;
  font-size: 1.5em;
  /*margin-left: 0.9em;*/
}

.file-icon {
  /*padding-left: 2ch;*/
  width: 5ch;
  height: 5.5ch;
}

.file-icon:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 95%;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.file-input-card {
  width: 60%;
  max-width: 250px;
  margin: 1ch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-container {
  text-align: center;
  padding-top: 0.3em;
  /*padding-left: 1ch;*/
  flex: 30%;
}

.info-container {
  position: relative;
  text-align: center;
  padding-left: 0;
  flex: 30%;
}

.file-input-label {
  margin-bottom: 3px;
  font-size: 1em;
  font-weight: 300;
  color: #272741;
}

.edit-button {
  font-size: 1.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1ch;
  padding-left: 1ch;
  border: none;
  background: none;
  color: #29790a;
  font-weight: bold;
}

.edit-button-edit {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1ch;
  padding-left: 1ch;
  border: none;
  background: none;
  color: #f39033;
  font-weight: bold;
}

.edit-button:hover,
.edit-button:focus,
.edit-button-edit:focus,
.edit-button-edit:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

.error-message {
  text-align: left;
  font-size: 1.3em;
  font-weight: 300;
  padding-left: 1.5em;
  margin-bottom: 1em;
  color: red;
}

@media all and (min-width: 882px) {
  .wrapper {
    max-width: 250px;
  }
  .file-input-card {
    max-width: 250px;
    margin: 0ch 0 4ch 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-container {
    text-align: center;
    padding-top: 0.3em;
    /*padding-left: 1ch;*/
    flex: 100%;
  }

  .info-container {
    text-align: center;
    /*padding-left: 2em;*/
    flex: 100%;
  }
}
