@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.file {
  position: absolute;
  bottom: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file-icon {
  padding-left: 2ch;
  width: 5ch;
  height: 5.5ch;
}

.file-input-card {
  width: 70%;
  margin: 1ch;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-container {
  text-align: right;
  padding-top: 0.3em;
  padding-left: 1ch;
  flex: 30%;
}

.info-container {
  text-align: center;
  padding-left: 0;
  flex: 30%;
}

.file-input-label {
  margin-bottom: 3px;
  font-size: 0.7em;
  font-weight: 300;
  color: #272741;
}

.edit-button {
  font-size: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1ch;
  padding-left: 1ch;
  border: none;
  background: none;
  color: #29790a;
  font-weight: bold;
}

.edit-button-edit {
  font-size: 1em;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1ch;
  padding-left: 1ch;
  border: none;
  background: none;
  color: #f39033;
  font-weight: bold;
}

.edit-button:hover,
.edit-button:focus,
.edit-button-edit:focus,
.edit-button-edit:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

.error-message {
  text-align: center;
  margin-left: 1ch;
  margin-bottom: 1em;
  font-size: 0.7em;
  color: red;
}

@media all and (min-width: 882px) {
  .file-input-card {
    max-width: 250px;
    margin: 0ch 0 4ch 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-container {
    text-align: center;
    padding-top: 0.3em;
    padding-left: 1ch;
    flex: 100%;
  }

  .info-container {
    padding-left: 2em;
    flex: 100%;
  }

  .error-message {
    text-align: left;
    margin-left: 1ch;
    margin-bottom: 1em;
    font-size: 0.7em;
    color: red;
  }
}
