@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.create-button {
  padding: 5px 1ch 5px 1ch;
  font-size: inherit;
  border: none;
  color: green;
  background: #53c149;
  border-radius: 6px;
}

.create-button:hover {
  border: none;
  color: white;
  background: #53c149;
  border-radius: 6px;
}
