.create-button {
  font-family: inherit;
  padding: 5px 1ch 5px 1ch;
  width: 150px;
  height: 29px;
  /*font-size: inherit;*/
  font-size: 1.5em;
  border: none;
  color: green;
  background: #53c149;
  border-radius: 6px;
}

.create-button:hover {
  border: none;
  color: white;
  background: #53c149;
  border-radius: 6px;
}
