@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.input-label {
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 1em;
}

.checkbox {
  margin-left: 1em;
}

.address-search-bar {
  font-family: "Lato", sans-serif;
}

.input-label:hover {
  color: #272741;
}

.error-message {
  font-size: 1.3em;
  font-weight: 300;
  padding-left: 1.5em;
  margin-bottom: 1em;
  color: red;
}

.input {
  box-sizing: border-box;
  font-family: inherit;
  /*font-size: 0.9em;*/
  font-size: 1.5em;
  /*border: none;*/
  border: grey solid 1px;
  width: 78%;
  height: 35px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  border-radius: 8px;
}

.input:hover {
  border: 1px solid #272741;
}

@media all and (min-width: 1200px) {
  .input {
    width: 400px;
  }
}
