@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.loading-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  border: 16px solid #f7debe; /* Light grey */
  border-top: 16px solid #272741; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.view-container {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  /*font-size: 12px;*/
  font-size: 10px;
  margin: 1px;
  padding: 8px 6px 8px 30px;
}

.page-title {
  /*font-size: inherit;*/
  font-size: 25px;
  margin-bottom: 2.1em;
}

.location-div {
  margin-top: 60px;
}

.header-box {
  font-weight: 400;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1em;
  height: 50px;
  line-height: 50px;
  width: 86%;
  border-radius: 6px;
  background: #272741;
  color: #ffff;
}

.input-label {
  font-weight: bold;
  font-size: 1.5em;
  padding-left: 1em;
}

.input-label:hover {
  color: #272741;
}

.error-message {
  font-size: 1.4em;
  font-weight: 300;
  padding-left: 1.5em;
  margin-bottom: 1em;
  color: red;
}

.input {
  box-sizing: border-box;
  /*font-size: 0.9em;*/
  font-size: 1.5em;
  /*border: none;*/
  border: grey solid 1px;
  width: 78%;
  height: 35px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  border-radius: 8px;
}

.select {
  box-sizing: border-box;
  /*font-size: 0.9em;*/
  font-size: 1.5em;
  /*border: none;*/
  border: grey solid 1px;
  width: 78%;
  height: 35px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  border-radius: 8px;
}

.input:hover,
.select:hover {
  border: 1px solid #272741;
}

.col-wrap {
  display: flex;
  flex-direction: column;
}

.col-client {
  flex: 100%;
}

.col-store {
  margin-top: 60px;
  flex: 100%;
}

.map-container {
  margin-top: 28px;
  margin-bottom: 48px;
  /*margin-left: 5%;*/
  width: 83%;
  height: 237px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
}

.submit-button {
  /*font-size: 2em;*/
  font-weight: bold;
  width: 200px;
  height: 50px;
  /*margin-left: 20%;*/
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #b6ecb1;
  color: #53973e;
}

.submit-button:hover {
  background: #53c149;
  color: #ffffff;
  cursor: pointer;
}

.Modal {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 37vh;
  left: 15vw;
  width: 60vw;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 5px 2ch 20px 2ch;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.confirm-button {
  font-size: 0.9em;
  font-weight: bold;
  width: 13ch;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #b6ecb1;
  color: #53973e;
}

.confirm-button:hover {
  background: #53c149;
  color: #ffffff;
}

.error-button {
  font-size: 0.9em;
  font-weight: bold;
  width: 13ch;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #e2b3bc;
  color: #791024;
}

.error-button:hover {
  background: #c52441;
  color: #ffffff;
}

@media all and (min-width: 786px) {
  .map-container {
    height: 400px;
    /*margin-left: 1em;*/
  }
  /*
  .submit-button {
    font-size: 1em;
    margin-left: 17%;
    width: 50%;
  }
  */
  .Modal {
    left: 27vw;
    width: 40vw;
  }
}

@media all and (min-width: 992px) {
  .view-container {
    font-size: 10px;
  }

  .Modal {
    left: 40vw;
    width: 20vw;
  }

  .header-box {
    height: 53px;
    line-height: 53px;
  }
}

@media all and (min-width: 1200px) {
  .view-container {
    /*font-size: 24px;*/
    max-width: 1100px;
    font-size: 10px;
    margin-left: 5.5%;
  }

  .col-wrap {
    width: 99%;
    flex-direction: row;
  }

  .col-client {
    flex: 50%;
    padding-right: 6px;
  }

  .col-store {
    flex: 50%;
    padding-left: 6px;
    margin-top: 0;
  }

  .map-container {
    height: 486px;
    width: 73%;
  }

  /*
  .submit-button {
    margin-left: 15%;
  }
  */

  .header-box {
    width: 420px;
  }

  .input {
    width: 400px;
  }

  .select {
    width: 400px;
  }

  .submit-button {
    margin-right: 13%;
  }
}

@media all and (min-width: 1900px) {
  .view-container {
    font-size: 10px;
    margin-left: 10.5%;
  }
  .col-wrap {
    width: 1100px;
  }
  .map-container {
    width: 59%;
  }
}
