@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.loading-div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  border: 16px solid #f7debe; /* Light grey */
  border-top: 16px solid #272741; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.7em;
  margin-left: 0.8em;
}

.h3 {
  margin-top: 1em;
  font-size: 1.5em;
  margin-left: 0.9em;
}

.col-wrap {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.col-left,
.col-right {
  flex: 100%;
}

.map-container {
  margin-top: 48px;
  margin-bottom: 48px;
  /*margin-left: 5%;*/
  width: 80%;
  height: 237px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
}

.submit-button {
  /*font-size: 2em;*/
  font-weight: bold;
  width: 200px;
  height: 50px;
  /*margin-left: 20%;*/
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #b6ecb1;
  color: #53973e;
}

.submit-button:hover {
  background: #53c149;
  color: #ffffff;
  cursor: pointer;
}

.Modal {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 37vh;
  left: 15vw;
  width: 60vw;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 5px 2ch 20px 2ch;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.confirm-button {
  font-size: 0.9em;
  font-weight: bold;
  width: 13ch;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #b6ecb1;
  color: #53973e;
}

.confirm-button:hover {
  background: #53c149;
  color: #ffffff;
}

.error-button {
  font-size: 0.9em;
  font-weight: bold;
  width: 13ch;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #e2b3bc;
  color: #791024;
}

.error-button:hover {
  background: #c52441;
  color: #ffffff;
}

@media all and (min-width: 786px) {
  .map-container {
    height: 400px;
    /*margin-left: 1em;*/
  }
  /*
  .submit-button {
    font-size: 1em;
    margin-left: 8%;
    width: 50%;
  }
  */
  .Modal {
    left: 27vw;
    width: 40vw;
  }
}

@media all and (min-width: 992px) {
  .Modal {
    left: 40vw;
    width: 20vw;
  }
}

@media all and (min-width: 1200px) {
  .col-wrap {
    max-width: 99%;
    flex-direction: row;
  }

  .col-left {
    flex: 50%;
    padding-right: 6px;
  }

  .col-right {
    flex: 50%;
    padding-left: 6px;
  }

  .map-container {
    height: 486px;
    width: 78%;
    /*width: 412px;*/
  }

  .submit-button {
    margin-right: 13%;
  }

  /*
  .submit-button {
    margin-left: 3%;
  }
  */
  /*
  .submit-button {
    margin-right: 38%;
  }
  */
}

/*
@media all and (min-width: 1900px) {
  .col-wrap {
    width: 1100px;
  }
}
*/

/*************************************************************************
.map-container {
  overflow: hidden;
  border-radius: 7px;
  width: 90%;
  height: 400px;
  margin-top: 1ch;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #f5f4f4;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
}

.Modal {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 40vh;
  left: 35vw;
  width: 30vw;
  background-color: #ffefd5;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px 2ch 20px 2ch;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.submit-button {
  width: 50%;
  text-align: center;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1ch;
  padding-right: 1ch;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid #53c149;
  background-color: rgb(203, 223, 203);
  color: #53c149;
}

.submit-button:hover {
  color: white;
  background-color: #53c149;
  cursor: pointer;
}

.confirm-button {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 8px;
  border: 1px solid #53c149;
  background-color: rgb(203, 223, 203);
  color: #53c149;
}

.confirm-button:hover {
  color: white;
  background-color: #53c149;
  cursor: pointer;
}

.error-button {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 8px;
  border: 1px solid red;
  background-color: rgb(247, 187, 185);
  color: red;
}

.error-button:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

.column-wrapper {
  max-width: 100%;
  padding: 0ch;
  display: flex;
  flex-direction: column;
}

.col2 {
  padding: 1ch;
  flex: 100%;
}

.id-doc-wrapper {
  max-width: 100%;
  padding: 0ch;
  display: flex;
  flex-direction: column;
}

.id-doc-col2 {
  padding: 1ch;
  flex: 100%;
}

.error-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  padding: 2ch;
  color: red;
  background-color: rgb(255, 193, 190);
  border: 1px solid rgb(247, 148, 148);
}

.confirm-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  padding: 2ch;
  color: green;
  background-color: rgb(201, 253, 201);
  border: 1px solid rgb(140, 218, 140);
}

@media all and (min-width: 882px) {
  .map-container {
    overflow: hidden;
    border-radius: 7px;
    width: 95%;
    height: 400px;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f8e1c5;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
  }

  .column-wrapper {
    max-width: 100%;
    padding: 0ch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .col2 {
    padding: 1ch;
    margin-left: auto;
    margin-right: auto;
    flex: 50%;
  }

  .id-doc-wrapper {
    max-width: 100%;
    padding: 0ch;
    display: flex;
    flex-direction: row;
  }

  .id-doc-col2 {
    flex: 50%;
  }
}

@media all and (min-width: 1246px) {
  .map-container {
    overflow: hidden;
    border-radius: 7px;
    width: 95%;
    height: 500px;
    margin-top: 3em;
    margin-left: 1ch;
    margin-right: auto;
    border: 1px solid #f8e1c5;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
  }

  .column-wrapper {
    max-width: 100%;
    padding: 0ch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .col2 {
    padding: 1ch;
    margin-left: auto;
    margin-right: auto;
    flex: 50%;
    max-width: 40%;
  }

  .id-doc-wrapper {
    max-width: 100%;
    padding: 0ch;
    display: flex;
    flex-direction: row;
  }

  .id-doc-col2 {
    flex: 50%;
    max-width: 30%;
  }
}

*******/
