@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

h2,
h3 {
  margin-top: 1ch;
}

form {
  font-family: "Roboto", sans-serif;
  padding: 1ch;
  border-radius: 8px;
  border: 1px solid #f8ecdc;
  background-color: #f0e6de;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
  width: 100%;
}

[type="file"] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

/*
MAP STYLING
*/
.map-container {
  overflow: hidden;
  border-radius: 7px;
  max-width: 35ch;
  margin: 1ch;
  border: 1px solid #f8e1c5;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
}

/*
MODAL STYLES
*/
.Modal {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 40vh;
  left: 35vw;
  width: 30vw;
  background-color: #ffefd5;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px 2ch 20px 2ch;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

/*
BUTTON STYLES
*/
.submit-button {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 8px;
  border: 1px solid green;
  background-color: rgb(203, 223, 203);
  color: green;
  margin: 1ch;
}

.submit-button:hover {
  color: white;
  background-color: green;
  cursor: pointer;
  margin: 1ch;
}

.error-button {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1ch;
  padding-right: 1ch;
  border-radius: 8px;
  border: 1px solid red;
  background-color: rgb(247, 187, 185);
  color: red;
}

.error-button:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

/*
COLUMN STYLES
*/

.column-wrapper {
  max-width: 100%;
  padding: 0ch;
  display: flex;
  flex-direction: column;
}

.col2 {
  padding: 1ch;
  flex: 100%;
}

.id-doc-wrapper {
  max-width: 100%;
  padding: 0ch;
  display: flex;
  flex-direction: column;
}

.id-doc-col2 {
  padding: 1ch;
  flex: 100%;
}

@media all and (min-width: 882px) {
  form {
    font-family: "Roboto", sans-serif;
    padding: 1ch;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid #f8ecdc;
    background-color: #f0e6de;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
    background-color: #f0e6de;
    width: 100%;
  }

  .map-container {
    overflow: hidden;
    border-radius: 7px;
    max-width: 45ch;
    margin: 1ch;
    border: 1px solid #f8e1c5;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
  }

  .column-wrapper {
    max-width: 100%;
    padding: 0ch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .col2 {
    padding: 1ch;
    margin-left: auto;
    margin-right: auto;
    flex: 50%;
  }

  .id-doc-wrapper {
    max-width: 100%;
    padding: 0ch;
    display: flex;
    flex-direction: row;
  }

  .id-doc-col2 {
    flex: 50%;
  }
}
