@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.file {
  position: absolute;
  bottom: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.profile-image-card {
  width: 81%;
  margin: 1ch;
  border-radius: 9px;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-message {
  text-align: left;
  margin-left: 2.4ch;
  margin-bottom: 1em;
  font-size: inherit;
  font-weight: 300;
  color: red;
}

.image-container {
  text-align: center;
  padding-top: 0.3em;
  padding-left: 1ch;
  flex: 20%;
}

.info-container {
  text-align: center;
  flex: 80%;
}

.profile-photo {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 1px solid #a8df92;
}

.profile-photo-edit {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 1px solid #ee9714;
}

.profile-image-label {
  padding-bottom: 8px;
  font-size: 1.4em;
  font-weight: 300;
  color: #272741;
}

.edit-button {
  font-size: 1em;
  font-weight: bold;
  border: none;
  background: none;
  color: #29790a;
  font-weight: bold;
}

.edit-button-edit {
  font-size: 1em;
  font-weight: bold;
  border: none;
  background: none;
  color: #f39033;
  font-weight: bold;
}

.edit-button:hover,
.edit-button:focus,
.edit-button-edit:focus,
.edit-button-edit:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

/*
ADAPTING TO SMALL - MEDIUM SCREENS
*/
@media all and (min-width: 768px) {
  .profile-image-card {
    margin: 1ch;
    padding-bottom: 0.8em;
    display: flex;
    flex-direction: column;
  }

  .image-container {
    padding-right: 1ch;
    flex: 100%;
  }

  .info-container {
    flex: 100%;
  }

  .profile-image-label {
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 1.2em;
  }

  .profile-photo {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 1px solid #a8df92;
  }

  .profile-photo-edit {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 1px solid #ee9714;
  }
}

/*
ADAPTING TO LARGE - XL SCREENS
*/

@media all and (min-width: 993px) {
  .profile-image-card {
    padding: auto auto 0.8em auto;
  }

  .image-container {
    padding-left: 1ch;
    flex: 100%;
  }

  .info-container {
    padding-left: 1ch;
    flex: 100%;
  }

  .profile-photo {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 1px solid #a8df92;
  }

  .profile-photo-edit {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 1px solid #ee9714;
  }
}
