@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.profile-image-card {
  max-width: 100%;
  margin: 1ch;
  border-radius: 9px;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-container {
  text-align: center;
  padding-top: 0.3em;
  padding-left: 1ch;
  flex: 20%;
}

.info-container {
  padding-left: 2ch;
  flex: 80%;
}

.profile-photo {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 1px solid #a8df92;
}

.profile-photo-edit {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 1px solid #ee9714;
}

.profile-image-label {
  padding-bottom: 8px;
  font-size: 1.4em;
  color: #063970;
}

.edit-button {
  font-size: 1em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5ch;
  padding-left: 5ch;
  border-radius: 8px;
  border: 1px solid #f1eae4;
  background-color: #eeeee4;
  color: #29790a;
}

.edit-button-edit {
  font-size: 1em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5ch;
  padding-left: 5ch;
  border-radius: 8px;
  border: 1px solid #f1eae4;
  background-color: #eeeee4;
  color: #f39033;
}

.edit-button:hover,
.edit-button-edit:hover,
.edit-button:focus,
.edit-button-edit:focus {
  border: 1px solid #063970;
  color: #063970;
  cursor: pointer;
}

/*
ADAPTING TO SMALL - MEDIUM SCREENS
*/
@media all and (min-width: 768px) {
  .profile-image-card {
    max-width: 100%;
    margin: 1ch;
    padding-bottom: 0.8em;
    border-radius: 7px;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .image-container {
    padding-right: 1ch;
    flex: 100%;
  }

  .info-container {
    flex: 100%;
  }

  .profile-image-label {
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 1.2em;
    color: #063970;
  }

  .profile-photo {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 1px solid #a8df92;
  }

  .profile-photo-edit {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 1px solid #ee9714;
  }

  .edit-button {
    font-size: 0.7em;
    margin-left: 1.4ch;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5ch;
    padding-left: 5ch;
    border-radius: 8px;
    border: 1px solid #f1eae4;
    background-color: #eeeee4;
    color: #29790a;
  }

  .edit-button-edit {
    font-size: 0.7em;
    margin-left: 1.4ch;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5ch;
    padding-left: 5ch;
    border-radius: 8px;
    border: 1px solid #f1eae4;
    background-color: #eeeee4;
    color: #f39033;
  }
}

/*
ADAPTING TO LARGE - XL SCREENS
*/

@media all and (min-width: 993px) {
  .profile-image-card {
    max-width: 94%;
    margin: 1ch;
    padding: auto auto 0.8em auto;
    border: 1px solid;
    border-radius: 7px;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.17);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .profile-image-label {
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 2ch;
    font-size: 1.1em;
    color: #063970;
  }

  .image-container {
    padding-left: 1ch;
    flex: 100%;
  }

  .info-container {
    padding-left: 2ch;
    flex: 100%;
  }

  .profile-photo {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 1px solid #a8df92;
  }

  .profile-photo-edit {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 1px solid #ee9714;
  }

  .edit-button {
    font-size: 0.7em;
    margin-left: 1.5ch;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5ch;
    padding-left: 5ch;
    border-radius: 8px;
    border: 1px solid #f1eae4;
    background-color: #eeeee4;
    color: #29790a;
  }

  .edit-button-edit {
    font-size: 0.7em;
    margin-left: 1.5ch;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5ch;
    padding-left: 5ch;
    border-radius: 8px;
    border: 1px solid #f1eae4;
    background-color: #eeeee4;
    color: #f39033;
  }
}
